repository hackage.haskell.org
  url: http://hackage.haskell.org/
remote-repo-cache: /opt/anaconda1anaconda2anaconda3/share/.cabal/packages
world-file: /opt/anaconda1anaconda2anaconda3/share/.cabal/world
user-install: False
extra-include-dirs: /opt/anaconda1anaconda2anaconda3/include
extra-lib-dirs: /opt/anaconda1anaconda2anaconda3/lib
remote-build-reporting: anonymous
jobs: $ncpus
install-dirs user
  prefix: /opt/anaconda1anaconda2anaconda3
install-dirs global
  prefix: /opt/anaconda1anaconda2anaconda3
